---
---

@import "variables";
@import "mixins";

h1,
h2,
h3,
h4 {
  box-sizing: border-box;
  line-height: 1.2;
  margin: 40px 0 20px 0;
  @include trim-margins;
  padding: 10px 0;
  color: $text-dark;

  & > i {
    color: $primary;
    margin-right: 0.9rem;
  }
}

h1 {
  font-family: $serif;
  font-size: 2.2rem;
  font-weight: $bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;

  & + p {
    margin-top: 40px;
  }
}

h2 {
  font-family: $serif;
  font-size: 1.9rem;
  font-weight: $bold;
  text-align: center;
}

h3 {
  font-family: $sans;
  font-size: 1.05rem;
  font-weight: $semi-bold;
  text-align: center;
}

h4 {
  font-family: $sans;
  font-size: 1rem;
  font-weight: $medium;
  text-align: left;
}
