---
---

@import "variables";

a {
  color: $accent;
  transition: color $fast, opacity $fast;
  text-decoration-color: transparent;
  text-underline-offset: 3px;
  transition: color $fast, text-decoration-color $fast;
}

a:hover {
  color: darken($accent, 10%);
  text-decoration-color: $accent;
}
