---
---

@import "variables";

a {
  color: $primary;
  text-underline-offset: 3px;
  text-decoration-color: transparent;
  transition: color $fast, text-decoration-color $fast;
}

a:hover {
  color: #f84b4b;
  text-decoration-color: $primary;
}
